.form-section {
    margin: 20px; 
    border: 0.5px solid gray;
    border-radius: 4px;
}

.form-title {
    font-weight: bolder;
    font-size: 20px; 
}

.submit-button {
    width: 30%;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    outline: none;
    border: .5px solid gray;
    color: #FF9F00;
    font-size: 1rem;
    margin-bottom: 10px; 
}

.submit-button:hover {
    cursor: pointer;
    background: #fddcb1;
    transition: all 0.4s ease-out;
    border: 1px solid #e08b01;
}
 
.select-input-style {
    border-radius: 6px; 
    border: 0.5px solid gray; 
}